<h1>Artist Registration Page</h1>
<div id = "artist-import">
  <%= image_tag "341104_last.fm_icon.png", height: 48 %>
  <%# <center><%= link_to "Import from Last.fm", artists_import_path, session[:name] => :name %></center> %>
  <%= form_with url: artists_import_path, method: :get, local: true do |f| %>
    <%= f.label :name, "Artist Name (required):" %>
    <%= f.text_field :name %>
    <%= f.submit "Import from Last.fm" %>
<% end %>
</div>

<%= form_with url: artists_register_path, method: :post, local: true do |f| %>
   <%= f.label :name, "Name:" %>
   <%= f.text_field :name, value: @imported.name %>
   <%= f.label :location, "Location:" %>
   <%= f.text_field :location, value: @imported.location %>
   <%= f.label :phone, "Phone:" %>
   <%= f.telephone_field :phone %>
   <%= f.label :genre, "Genre:" %>
   <%= f.text_field :genre, value: @imported.genre %>
   <%= f.label :bio, "Tell me about yourself:" %>
   <%= f.text_field :bio, value: @imported.bio %>
   <%= f.submit "Complete Registration" %>
   <% end %>
