<h1>Artist Dashboard</h1>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="Search for Events" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


<h1><%= artist.name %></h1>
<h3><%= artist.genre %> years old</h3>
<h3><%= artist.location %></h3>
<h3><%= artist.bio %></h3>

<p><%= link_to "Update #{artist.name}", "/artists/#{artist.id}/edit" %></p>
<p><%= link_to "Delete #{artist.name}", "/artists/#{artist.id}", method: :destroy %></p>

#flexbox required to add events sections on right of screen