<center><h1>New Venue Registration</h1></center>


<center><%= link_to "Import Yelp Profile" %>

<%= form_with url: '/venues/register', method: :post, local: true do |f| %>

  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %><b><b>

  <%= f.label :location, "Location:" %>
  <%= f.text_field :location %><b><b>

  <%= f.label :phone, "Phone:" %>
  <%= f.telephone_field :phone %><b><b>

  <%= f.label :category, "Category:" %>
  <%= f.text_field :category %><b><b>
  
  <%= f.label :price, "Price:" %>
  <%= f.select :price, ['$', '$$', '$$$', '$$$$'] %><b><b>
  
  <%= f.hidden_field :rating, value: nil %>
  <%= f.hidden_field :user_id, value: @user.id %><b><b>

  <%= f.submit %><b><b>
<% end %></center>
