<h1>Venue Dashboard</h1>

<h1><%= venue.name %></h1>
<h3><%= venue.location %> </h3>
<h3><%= venue.phone %></h3>
<h3><%= venue.category %></h3>
<h3><%#= venue.bandaid_rating %></h3>

<p><%= link_to "Update #{venue.name}", "/venues/#{venue.id}/edit" %></p>
<p><%= link_to "Delete #{venue.name}", "/venues/#{venue.id}", method: :destroy %></p>


#flexbox required to add events sections on right of screen