<!DOCTYPE html>
<html>
  <head>
    <title>BandAid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="navbar-container">
      <nav class="nav ">
        <a class="nav-link " href="/">Home</a>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
